body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    padding: 20px;
}

.box {
    border: 1px solid black;
    /* padding: 10px; */
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

#information {
    grid-column: span 2;
}
