body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: #DBDCDA;
    font-size: 15pt;
    padding: 20px 0;
}

.navbar-brand, .nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #f8f9fa !important;
    background-color: #495057;
    border-radius: 5px;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

footer {
    max-width: 100%;
    font-size: 12pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px 0;
}

.footer-section {
    max-width: 25%;
    padding: 0 15px;
}