.header{width:100vw}.content{width:100vw;height:calc(100% - 80px);font-family:Noto Sans JP,Roboto,Helvetica Neue,Arial,sans-serif}p,span{font-family:Noto Sans JP,Roboto,Helvetica Neue,Arial,sans-serif}
